 # Project_1_One_Pager

In [177]:
# Import libraries

import re
import pandas as pd 
import numpy as np

In [178]:
# Create DataFrame from .csv file with all data

data = pd.read_csv('alldata.csv')

In [179]:
# Quick look at number of records, data types and nulls

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

In [180]:
# Quick look at columns - no need to rename them!

data.head()

,position,company,description,reviews,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA"

### First we will focus in the Categorical data

#### "location" column:

Break down location into separate columns that only contain "state" and "city"

In [181]:
## First lets start working with the 'Position' column
# Using Regex to search for Cities and States within the "location" column

data['location'].str.extract(r'([\D]+ ?[\D]+, \D\D)')

                  0
0       Atlanta, GA
1       Atlanta, GA
2       Atlanta, GA
3       Atlanta, GA
4       Atlanta, GA
...             ...
6959  Sunnyvale, CA
6960  Sunnyvale, CA
6961  Sunnyvale, CA
6962  Sunnyvale, CA
6963  Sunnyvale, CA

[6964 rows x 1 columns]

In [182]:
# Since we are happy with the result, we store it in a new column "city,state"

data['city,state']=data['location'].str.extract(r'([\D]+ ?[\D]+, \D\D)')

In [183]:
# Now we want to isolate the State...

data['city,state'].str[-2:]

0       GA
1       GA
2       GA
3       GA
4       GA
        ..
6959    CA
6960    CA
6961    CA
6962    CA
6963    CA
Name: city,state, Length: 6964, dtype: object

In [184]:
# Again, we are happy with the result so we store it in new column "state"

data['state'] = data['city,state'].str[-2:]

In [185]:
# Finally we want to isolate the city

data['city,state'].str[:-4]

0         Atlanta
1         Atlanta
2         Atlanta
3         Atlanta
4         Atlanta
          ...
6959    Sunnyvale
6960    Sunnyvale
6961    Sunnyvale
6962    Sunnyvale
6963    Sunnyvale
Name: city,state, Length: 6964, dtype: object

In [186]:
# we are isolating and storing  it in a new column 'city'

data['city']=data['city,state'].str[:-4]

#### "position" column:

Check if "position" can be broken down into 4 or 5 popular clusters, i.e: Data Analyst, Data Scientist, Data Engineer...

In [187]:
# Now lets start seperating the position according to the position title in seperate columns

data['position'].unique()

array(['Development Director',
       'An Ostentatiously-Excitable Principal Research Assistant to Chief Scientist',
       'Data Scientist', ..., 'Data Developer / Machine Learning Analyst',
       'Intern Scientist', 'Principal Data Scientist, Deep Learning'],
      dtype=object)

In [188]:
# Trying to count Top 20 most popular words in "position" column to help with the clustering

#from collections import Counter
#Counter(" ".join(data["position"]).split()).most_common(20)

In [189]:
# Most popular value in "position" column

data['position'].value_counts().idxmax()

'Data Scientist'

In [190]:
# We find all the rest 

data['position'].str.findall('data scientist',flags=re.IGNORECASE)

0                     []
1                     []
2       [Data Scientist]
3                     []
4                     []
              ...
6959                  []
6960                  []
6961                  []
6962                  []
6963    [Data Scientist]
Name: position, Length: 6964, dtype: object

### Creating new columns for different roles

In [191]:
# We find all the position asked Data Scientists and store it in a seperate column

data['ds_yes'] = data['position'].str.findall('data scientist',flags=re.IGNORECASE)
data['ds_yes'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                  5692
[Data Scientist]                    1235
[DATA SCIENTIST]                      14
[Data Scientist, Data Scientist]       8
[data scientist]                       2
[DATA Scientist]                       1
[DATA SCIENTIST, DATA SCIENTIST]       1
Name: ds_yes, dtype: int64

In [192]:
# Data Analysts

data['da_yes'] = data['position'].str.findall('data analyst',flags=re.IGNORECASE)
data['da_yes'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                              6822
[Data Analyst]                   123
[DATA ANALYST]                     7
[Data Analyst, Data Analyst]       1
Name: da_yes, dtype: int64

In [193]:
# Data Engineer

data['de_yes'] = data['position'].str.findall('data engineer',flags=re.IGNORECASE)
data['de_yes'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                                6767
[Data Engineer]                    181
[DATA ENGINEER]                      4
[Data Engineer, Data Engineer]       1
Name: de_yes, dtype: int64

In [194]:
#We are looking on all the columns which we have created new
data.head()

,position,company,description,reviews,location,"city,state",state,city,ds_yes,da_yes,de_yes
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301","Atlanta, GA",GA,Atlanta,[],[],[]
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],[]
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[Data Scientist],[],[]
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303","Atlanta, GA",GA,Atlanta,[],[Data Analyst],[]
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],[]

## looking at clustering "position" based on level of seniority

In [195]:
# position Junior
data['position'].str.findall('Junior', flags=re.IGNORECASE)
data['junior']=data['position'].str.findall('junior', flags=re.IGNORECASE)

In [196]:
data['junior'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]          6916
[Junior]      37
Name: junior, dtype: int64

In [197]:
# Senior
data['senior']=data['position'].str.findall('senior', flags=re.IGNORECASE)
data['senior'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                  5897
[Senior]            1036
[SENIOR]              15
[Senior, Senior]       3
[senior]               2
Name: senior, dtype: int64

In [198]:
#Manager
data['manager']=data['position'].str.findall('manager', flags=re.IGNORECASE)
data['manager'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]           6398
[Manager]     543
[MANAGER]      12
Name: manager, dtype: int64

In [199]:
#Director
data['director']=data['position'].str.findall('director', flags=re.IGNORECASE)
data['director'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                      6692
[Director]               249
[Director, Director]       6
[DIRECTOR]                 5
[director]                 1
Name: director, dtype: int64

In [200]:
#Professor
data['professor']=data['position'].str.findall('professor', flags=re.IGNORECASE)
data['professor'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]             6947
[Professor]       5
[PROFESSOR]       1
Name: professor, dtype: int64

In [201]:
# Researcher
data['researcher']=data['position'].str.findall('researcher', flags=re.IGNORECASE)
data['researcher'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]              6889
[Researcher]      60
[RESEARCHER]       4
Name: researcher, dtype: int64

In [202]:
# Lead
data['lead']=data['position'].str.findall('lead', flags=re.IGNORECASE)
data['lead'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]        6688
[Lead]     260
[LEAD]       5
Name: lead, dtype: int64

In [203]:
#Assistant
data['assistant']=data['position'].str.findall('assistant', flags=re.IGNORECASE)
data['assistant'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                        6839
[Assistant]                 91
[ASSISTANT]                 21
[assistant]                  1
[Assistant, Assistant]       1
Name: assistant, dtype: int64

In [204]:
#Engineer
data['engineer']=data['position'].str.findall('engineer', flags=re.IGNORECASE)
data['engineer'].value_counts()

TypeError: unhashable type: 'list'

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas\_libs\hashtable_class_helper.pxi", line 4588, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[]                      5599
[Engineer]              1301
[Engineer, Engineer]      29
[ENGINEER]                17
[engineer]                 7
Name: engineer, dtype: int64

In [205]:
#senior
data['senior']=data['senior'].apply(str)

In [206]:
#manager
data['manager']=data['manager'].apply(str)

In [207]:
#director
data['director']=data['director'].apply(str)

In [208]:
#engineer
data['engineer']=data['engineer'].apply(str)

In [209]:
#junior
data['junior']=data['junior'].apply(str)

In [210]:
# We created new column according to the information we have received
data['senior_clean']=data['senior'].str.contains('senior') | data['senior'].str.contains('Senior') | data['senior'].str.contains('SENIOR') | data['senior'].str.contains('Senior, Senior')

In [211]:
# new_column 'manager_clean'
data['manager_clean']=data['manager'].str.contains('Manager') | data['manager'].str.contains('MANAGER')

In [212]:
#new_column 'director_clean'
data['director_clean']=data['director'].str.contains('director') | data['director'].str.contains('Director') | data['director'].str.contains('DIRECTOR') | data['director'].str.contains('Director, Director')

In [213]:
#new_column 'engineer_clean'
data['engineer_clean']=data['engineer'].str.contains('engineer') | data['engineer'].str.contains('Engineer') | data['director'].str.contains('ENGINEER') | data['director'].str.contains('Engineer, Engineer')
data['engineer_clean'].value_counts()

False    5627
True     1337
Name: engineer_clean, dtype: int64

In [214]:
data['junior_clean']=data['junior'].str.contains('Junior')

In [215]:
data['manager_clean'].value_counts()

False    6409
True      555
Name: manager_clean, dtype: int64

In [216]:
data['director_clean'].value_counts()

False    6703
True      261
Name: director_clean, dtype: int64

In [217]:
data['junior_clean'].value_counts()

False    6927
True       37
Name: junior_clean, dtype: int64

In [218]:
# We are trying to check the positions according to seniority
seniority=pd.concat([data['senior_clean'], data['manager_clean'], data['director_clean'], data['engineer_clean'], data['junior_clean']],axis=1)

In [219]:
seniority.head(10)

   senior_clean  manager_clean  director_clean  engineer_clean  junior_clean
0         False          False            True           False         False
1         False          False           False           False         False
2         False          False           False           False         False
3         False          False           False           False         False
4         False          False           False           False         False
5         False           True           False            True         False
6         False          False           False           False         False
7         False          False           False            True          True
8         False          False           False           False         False
9          True          False           False           False         False

In [220]:
# Extrected the jobs those requires phd,master, and bachelor
data['phd']=data['description'].str.findall('phd', flags=re.IGNORECASE)

In [221]:
data['bachelor']=data['description'].str.findall('bachelor', flags=re.IGNORECASE)

In [222]:
data['master']=data['description'].str.findall('master', flags=re.IGNORECASE)

In [223]:
data['phd']=data['phd'].apply(str)

In [224]:
data["bachelor"]=data["bachelor"].apply(str)

In [225]:
data["master"]=data["master"].apply(str)

In [226]:
data['phd_clean']=data['phd'].str.contains('phd') | data['phd'].str.contains('Phd') | data['phd'].str.contains('PhD') | data['phd'].str.contains('PHD')

In [227]:
data['bachelor_clean']=data['bachelor'].str.contains('bachelor') | data['bachelor'].str.contains('Bachelor') | data['bachelor'].str.contains('BACHELOR')

In [228]:
data['master_clean']=data['master'].str.contains('Master') | data['master'].str.contains('master') | data['master'].str.contains('MASTER')

In [229]:
data['phd_clean'].value_counts()

False    5242
True     1722
Name: phd_clean, dtype: int64

In [230]:
data['bachelor_clean'].value_counts()

False    4844
True     2120
Name: bachelor_clean, dtype: int64

In [231]:
data['master_clean'].value_counts()

False    4915
True     2049
Name: master_clean, dtype: int64

In [232]:
data['director_clean'].value_counts()

False    6703
True      261
Name: director_clean, dtype: int64

In [233]:
data['phd_clean'].value_counts()

False    5242
True     1722
Name: phd_clean, dtype: int64

In [234]:
# We creadyed the sub data frame where only phd asked for
sub_data = data[data['phd_clean'] == True]
sub_data.head()

,position,company,description,reviews,location,"city,state",state,city,ds_yes,da_yes,...,manager_clean,director_clean,engineer_clean,junior_clean,phd,bachelor,master,phd_clean,bachelor_clean,master_clean
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,False,False,False,False,['PhD'],[],[],True,False,False
12,"Senior Associate, Data Scientist",KPMG,Innovate. Collaborate. Shine. Lighthouse â€” KPM...,4494.0,"Atlanta, GA 30338","Atlanta, GA",GA,Atlanta,[Data Scientist],[],...,False,False,False,False,['PhD'],[],['Master'],True,False,True
13,Assistant Scientist (AR) SOM,Emory University,"DESCRIPTION\nUnder minimal supervision, the As...",550.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,False,False,False,False,['PhD'],[],['Master'],True,False,True
15,Data Scientist,Cotiviti,Cotiviti is looking for an industry leading Da...,104.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[Data Scientist],[],...,False,False,False,False,['PhD'],[],[],True,False,False
19,Data Scientist,Inspire Brands,This position is critical to understanding dri...,NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[Data Scientist],[],...,False,False,False,False,['PhD'],[],['Master'],True,False,True

In [235]:
sub_data.shape

(1722, 31)

In [236]:
data.head()

,position,company,description,reviews,location,"city,state",state,city,ds_yes,da_yes,...,manager_clean,director_clean,engineer_clean,junior_clean,phd,bachelor,master,phd_clean,bachelor_clean,master_clean
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301","Atlanta, GA",GA,Atlanta,[],[],...,False,True,False,False,[],['Bachelor'],[],False,True,False
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,False,False,False,False,[],[],['master'],False,False,True
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[Data Scientist],[],...,False,False,False,False,[],[],['Master'],False,False,True
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303","Atlanta, GA",GA,Atlanta,[],[Data Analyst],...,False,False,False,False,[],"['Bachelor', 'Bachelor']",[],False,True,False
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,False,False,False,False,['PhD'],[],[],True,False,False

In [237]:
# Dropping the columns here which doesnt help us for further analysis
data = data.drop(['master'],axis = 1)

In [238]:
data = data.drop(['phd','bachelor'],axis = 1)

In [239]:
data.head(2)

,position,company,description,reviews,location,"city,state",state,city,ds_yes,da_yes,...,assistant,engineer,senior_clean,manager_clean,director_clean,engineer_clean,junior_clean,phd_clean,bachelor_clean,master_clean
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301","Atlanta, GA",GA,Atlanta,[],[],...,[],[],False,False,True,False,False,False,True,False
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,[Assistant],[],False,False,False,False,False,False,False,True

 ### 'description' column

In [240]:
# doesnt seems good
data['description'].str.findall(r'\d+\s\w+')

0                                               [8 years]
1                                                      []
2                                                      []
3       [25 years, 00 to, 2 yearsbasic, 2 yearsProgram...
4                                                 [10 of]
                              ...
6959                   [5 years, 5 to, 7 years, 40 hours]
6960    [200 clinical, 20 different, 200 Pharmacyclics...
6961                                                   []
6962                                                   []
6963    [1 platform, 5 years, 3 years, 2 years, 5 people]
Name: description, Length: 6964, dtype: object

In [241]:
# gives all the numbers in the description
# doesnt seems good, it works similar to the above code
data['description'].str.findall(r'\d+\s\w+|[\d]+\S?[\d]+\s\w+')

0                                             [6-8 years]
1                                                      []
2                                                      []
3       [25 years, 000.00 to, 2 yearsbasic, 2 yearsPro...
4                                                 [10 of]
                              ...
6959                   [5 years, 5 to, 7 years, 40 hours]
6960    [200 clinical, 20 different, 1,200 Pharmacycli...
6961                                                   []
6962                                                   []
6963    [1 platform, 5 years, 3 years, 2 years, 2-5 pe...
Name: description, Length: 6964, dtype: object

In [242]:
# GOOD ONE!
# But it still reads whatever numbers comes along with the text
data['ex_years'] = data['description'].str.findall(r'\d+\s\byears\b|[\d]+\S?[\d]+\s\byears\b')
data.head()

,position,company,description,reviews,location,"city,state",state,city,ds_yes,da_yes,...,engineer,senior_clean,manager_clean,director_clean,engineer_clean,junior_clean,phd_clean,bachelor_clean,master_clean,ex_years
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301","Atlanta, GA",GA,Atlanta,[],[],...,[],False,False,True,False,False,False,True,False,[6-8 years]
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,[],False,False,False,False,False,False,False,True,[]
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[Data Scientist],[],...,[],False,False,False,False,False,False,False,True,[]
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303","Atlanta, GA",GA,Atlanta,[],[Data Analyst],...,[],False,False,False,False,False,False,True,False,[25 years]
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,[],False,False,False,False,False,True,False,False,[]

In [243]:
# this shows how often experience is required
data['how_often_exp_req'] = data['description'].str.contains(r'\d+\s\byears\b')

In [244]:
data.head()

,position,company,description,reviews,location,"city,state",state,city,ds_yes,da_yes,...,senior_clean,manager_clean,director_clean,engineer_clean,junior_clean,phd_clean,bachelor_clean,master_clean,ex_years,how_often_exp_req
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,NaN,"Atlanta, GA 30301","Atlanta, GA",GA,Atlanta,[],[],...,False,False,True,False,False,False,True,False,[6-8 years],True
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,False,False,False,False,False,False,False,True,[],False
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",NaN,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[Data Scientist],[],...,False,False,False,False,False,False,False,True,[],False
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303","Atlanta, GA",GA,Atlanta,[],[Data Analyst],...,False,False,False,False,False,False,True,False,[25 years],True
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,False,False,False,False,False,True,False,False,[],False

In [245]:
# Boolean to Float conversion to check if it makes sense for the analysis
data.how_often_exp_req = data.how_often_exp_req.replace({True: 1, False: 0})

 ## Working with numerical data

 ### 'reviews' column

In [251]:
# discussion was to remove the NaN values from the reviews column and replacing it with the mode value. But it was just a discussion
#NaN should be replaced with either the mode 230 or 0 or ignore
numerical = data.select_dtypes(include=np.number)
numerical.head(2)

   reviews  how_often_exp_req
0    230.0                1.0
1    230.0                0.0

In [249]:

data['reviews'] = data['reviews'].fillna(0)
#data['reviews'] = data['reviews'].fillna(230)

In [250]:
data.head()

,position,company,description,reviews,location,"city,state",state,city,ds_yes,da_yes,...,senior_clean,manager_clean,director_clean,engineer_clean,junior_clean,phd_clean,bachelor_clean,master_clean,ex_years,how_often_exp_req
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,230.0,"Atlanta, GA 30301","Atlanta, GA",GA,Atlanta,[],[],...,False,False,True,False,False,False,True,False,[6-8 years],1.0
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...",230.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,False,False,False,False,False,False,False,True,[],0.0
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...",230.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[Data Scientist],[],...,False,False,False,False,False,False,False,True,[],0.0
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,44.0,"Atlanta, GA 30303","Atlanta, GA",GA,Atlanta,[],[Data Analyst],...,False,False,False,False,False,False,True,False,[25 years],1.0
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,550.0,"Atlanta, GA","Atlanta, GA",GA,Atlanta,[],[],...,False,False,False,False,False,True,False,False,[],0.0

 ## 'company' column

In [ ]:
#  after discussion we are removing the column which doesnt make much sense for this analysis
data = data.drop(['company'], axis = 1)

## Final Dataframes

In [ ]:
# assign this to a varibale:
state = data.groupby(['state']).mean()

# extract .csv file and feed into tableau

In [ ]:
# Export DataFrame into .csv file
state.to_csv('project_1_state.csv')

In [ ]:
# assign this to a varibale:
city = data.groupby(['city']).mean()

In [ ]:
# extract .csv file and feed into tableau
city.to_csv('project_1_city.csv')

In [ ]:
# Export DataFrame into .csv file

data.to_csv('project_1_clean.csv')